

@font-face {
    font-family: 'Noto Serif';
    src:  url('/assets/fonts/Noto_Serif/NotoSerif-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Open Sans bold';
    src:  url('/assets/fonts/open-sans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
  }


.navbar{
    background-color: #FFFFFF;
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 30px;
    color: #A06DC8;
    font-family: 'Noto Serif';
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar .cerrar-sesion{
    color: #A06DC8;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #A06DC8;
    text-align: center;
    font-family: 'Noto Serif';
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.navbar .cerrar-sesion:hover{
    background-color: #A06DC8;
    
   
}

.navbar .cerrar-sesion:hover a{
    color: #FFFFFF;
}

.navbar .cerrar-sesion a{
    color: #A06DC8;
    text-decoration: none;
    
}

.cardx{
  width: 1552px;
  height: 400px;
    background-color: #FFFFFF;
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 30px;
    color: #B2A8D2;
    font-family: 'Open Sans bold';
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    text-align: center;
}

.opciones{
    background-color: #E9DDF2;
    width: 243px;
    height: 223px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.opciones1{
  background-color: #E9DDF2;
  width: 243px;
  height: 223px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
}

.text a{
  color: #A06DC8;
  font-family: 'Open Sans bold';
  font-size: 20px;
  margin-bottom: 30px;
  text-decoration: none;
}

.text1 a{
  color: #A06DC8;
  font-family: 'Open Sans bold';
  font-size: 20px;
  margin-bottom: 30px;
  text-decoration: none;

}

.text2 a{
  color: #A06DC8;
  font-family: 'Open Sans bold';
  font-size: 20px;
  text-decoration: none;
}

.text3 a{
  color: #A06DC8;
  font-family: 'Open Sans bold';
  font-size: 20px;
  text-decoration: none;
  
}
.text1 a:hover{
  text-decoration: none;
}
.text2 a:hover{
  text-decoration: none;
}

.text3 a:hover{
  text-decoration: none;
}

.text2{
  margin-top: -15px;
}

.text3{
  margin-top: 15px;
}

.text1{
  margin-top: -2px;
}

.opciones img{
    margin-top: 10px;
    margin-left: 25px;
}

footer{
  text-align: center;
}

footer h1{
  color: #A06DC8;
  font-family: 'Noto Serif';
  font-size: 20px;
  padding-top: 20px;
}

footer p{
  color: #c2a7d7;
  font-family: 'Noto Serif';
  font-size: 10px;
  padding-top: -20px;
}